:root{
    --text: rgb(255, 89, 89);
    --text2: rgb(255, 255, 255);
    --bg1: black;
    --bg2: rgb(10, 10, 10);
    --border: rgb(34, 34, 34);
    --border2: rgb(59, 59, 59);

    --drop-shadow: rgb(14, 14, 14);
    --drop-shadow2: rgb(24, 24, 24);
}