/* Simple page management */
    /* Themes */
        @import url("dark-theme.css");
        @import url("halloween-theme.css");
    body, /* Browsers automatically add these :sob: Past these tho, I will not use either body or html, as this is cheating (i may change this rule in the future) */
    html{
        margin: 0;
        padding: 0;
    }
    body {

        width: 100vw;
        height: 100vh;

        background-color: var(--bg1);
    }

/* Epic fonts :D */
    body,
    body::before,
    body::after{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

/* Adding a border :D */
    body::before,body::after{ /* applies the border to all sides of the the 2 body sections (yes this adds a link between the top and bottom... */
        border: 3px solid var(--border);
        border-radius: 10px;
    }
    body::before{ /* But we remove those parts specifcially /\ */
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    body::after{
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    /* And now a dropshadow */
    body::after{
        box-shadow: 0px 10px 5px var(--drop-shadow);
    }
    body:hover:after{
        box-shadow: 0px 10px 2px var(--drop-shadow2);
    }

/* Making the elements look good! */
    body::after, body::before{
        background-color: var(--bg2);
        padding-inline: 20px;
        transform: translateX(-20px);
        width: 80%;
        display: block;
        position: absolute;
        left: 10%;
    }

/* Specific styles! */
    body::before{
        color: var(--text);
        height: 10%;
        text-align: center;
        content: "Welcome to my awesome website!";
        font-size: 4rem;
        top: 5%;

        font-weight: 700;
    }
    body::after{
        color: var(--text2);
        background-color: var(--bg2);
        height: 80%;
        text-align: left;
        content: 
        "Welcome! This website was purely created with `<body></body>` and a lot of CSS. I started this project after obtaining a free domain name, and I chose the one that fit best. The source code is available at `https://github.com/AustinSDK/mycodebaseisbrokenandidontknowwhattodootherthentosayilovecss.codes`, which I can't make into a clickable link on this page. This page is best viewed at specific resolutions, so sorry if it looks bad. You may wonder why you can't select the text — it's not an image or an SVG; it's real text, but CSS-inserted text isn't selectable in some browsers (e.g., Firefox). Wait... hear me out... <noscript>Hey, this site requires JavaScript to function!</noscript> Anyway, good night — happy Halloween! I also wanted to say that your costume is amazing! This website is essentially limited: we can't use more than one ::before and/or ::after per element (maybe there's an exploit?), and we can't create new elements. This page is separated into two parts: the header and the content. They are the ::before and ::after pseudo-elements, positioned with CSS. We apply border-radius to every corner, then disable it for specific corners (for example, the top corners of the bottom (::after) element). Credit to @harryrogers on the Hack Club Slack for the idea! Anyways,\a\aThank you for reading this article! Feel free to follow me on GitHub at Null-Austin and AustinsSDK!";
        font-size: 1.4rem;
        bottom: 5%;
        white-space: pre-line;
    }

/* Mouse over effects! Yes i realized this highlights if your mouse is in the page at all, but 2 bad*/
    body:hover::after,
    body:hover::before{
        border-color: var(--border2);
    }
    body:hover::after, 
    body:hover::before,
    body:hover,
    body::after,
    body::before,
    body{
        transition: transform .2s, border-color .2s, box-shadow .2s;
    }
    /*body::before:hover{            I dont believe this is possible, body ::before :hover doesnt exist i guess 
        background-color: black;
    }*/

/* this is only for my live server extension on vscode */
    #fiveserver-info-wrapper{
        display: none !important;
    }