/* Simple page management */
    /* Themes */
        @import url("halloween-theme.css");
    body, /* Browsers automatically add these :sob: Past these tho, I will not use either body or html, as this is cheating (i may change this rule in the future) */
    html{
        margin: 0;
        padding: 0;
    }
    body {
        width: 100vw;
        height: 100vh;

        background-color: var(--bg1);
    }

/* Adding a border :D */
    body::before,body::after{ /* applies the border to all sides of the the 2 body sections (yes this adds a link between the top and bottom... */
        border: 3px solid var(--border);
        border-radius: 10px;
    }
    body::before{ /* But we remove those parts specifcially /\ */
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    body::after{
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

/* Making the elements look good! */
    body::after, body::before{
        background-color: var(--bg2);
        padding-inline: 20px;
        transform: translateX(-20px);
        width: 80%;
        display: block;
        position: absolute;
        left: 10%;
    }

/* Specific styles! */
    body::before{
        color: var(--text);
        height: 10%;
        text-align: center;
        content: "Welcome to my awesome website!";
        font-size: 4rem;
        top: 5%;
    }
    body::after{
        color: var(--text2);
        background-color: var(--bg2);
        height: 80%;
        text-align: left;
        content: 
        "Welcome! This website was purly created with `<body></body>` and <!--some--> A LOT of css! I decided to make this project after inquiring a free domain name, so I chose the one that fit the website the most! The source code is avalible on `https://github.com/AustinSDK/mycodebaseisbrokenandidontknowwhattodootherthentosayilovecss.codes` which i sadly cant link due to the fact that im limited to not be able to put links onto this page. This page is best viewable on specific resolutions, so I'm sorry if it looks bad. You may be wondering why you cant select text, well the text is here its not a image or a svg or anything, just css inserted text isnt selectable (as of ff)! Wait... hear me out... <noscript>Hey, this site requires JavaScript to function!</noscript>. Anyways gng, happy halloween! And I just wanted to make sure everyone knew, that your costume is amazing!";
        font-size: 1.4rem;
        bottom: 5%;
    }

/* Mouse over effects! Yes i realized this highlights if your mouse is in the page at all, but 2 bad*/
    body:hover::after,
    body:hover::before{
        border-color: var(--border2);
    }
    body:hover::after, 
    body:hover::before,
    body:hover,
    body::after,
    body::before,
    body{
        transition: transform .2s, border-color .2s;
    }
    /*body::before:hover{            I dont believe this is possible, body ::before :hover doesnt exist i guess 
        background-color: black;
    }*/

/* this is only for my live server extension on vscode */
    #fiveserver-info-wrapper{
        display: none !important;
    }